@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070316;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070316;
    --foreground: #fff;
  }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body html{
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: clip;
}
 .item{
    filter: none;
}
 .item:hover{
  transition: 500ms linear;
  filter: none;
}
 .item:not(:hover){
     transition: 300ms linear;
   filter: grayscale(1);
 }
.bgBlur1{
    background: rgb(241,94,4);
    background: radial-gradient(circle, rgba(241,94,4,1) 0%, rgba(81,107,255,0) 100%);
    transform: translateZ(0);
    filter: blur( 70px);
}
.gradientBorder {
    background: rgb(241,94,4);
    background: linear-gradient(90deg, rgba(241,94,4,1) 0%, rgba(81,107,255,1) 100%);
    padding: 1px;
}

@media only screen and (max-height: 700px) and {
    .modelImageContainer {
        scale: 0.9;
    }
    .mentorImages {
        scale: 0.8;
    }
    .mentor-section-heading{
        scale: 0.8;
    }
    .hero-section{
        height: 120vh;
    }

}

@media only screen and (max-height: 600px) {
    .hero-section{
        height: 150vh;
    }

}

@media only screen and (max-height: 500px) {
    .hero-texts{
        scale: 0.8;
    }
    .hero-section{
        height: 200vh;
    }

}
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .navbar-container{
        @apply flex flex-row justify-between items-center;
    }
    .background-gradients{
        @apply absolute inset-0 ;
    }
    .primary-button-animation {
        @apply hover:shadow-[-5px_6px_30px_-7px_rgba(0,0,0,1)] drop-shadow-lg hover:shadow-primary transition-shadow ease-linear duration-200;
    }
    .secondary-button-animation {
        @apply hover:shadow-[-5px_6px_30px_-7px_rgba(0,0,0,1)] drop-shadow-lg hover:shadow-secondary transition-shadow ease-linear duration-200;
    }
    .feature-section-title {
        @apply text-5xl font-extrabold text-center leading-[1.2];
    }
    .testimonial-section-title {
        @apply text-6xl font-extrabold text-center leading-[1.2];
    }
    .star{
        @apply opacity-0;
    }
    .statsItem{
        @apply p-0 ;
    }
}
